.bancario-menu {
  background-color: #8A05BE;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.bancario-menu .welcome {
  text-align: center;
  margin-bottom: 20px;
}

.bancario-menu .menu-items {
  list-style-type: none;
  padding: 0;
}

.bancario-menu .menu-items li {
  padding: 10px;
  border-bottom: 1px solid white;
}

.bancario-menu .menu-items li:last-child {
  border-bottom: none;
}

.bancario-menu .menu-items li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.bancario-menu .menu-items li a {
  color: white;
  text-decoration: none; 
}

.bancario-menu .menu-items li a:hover {
  color: white; 
}
